[Unit] Description=Audiobookshelf via Docker Compose 
Requires=rclone-audiobooks.service 
After=rclone-audiobooks.service
Wants=network-online.target
RequiresMountsFor=/home/ga_bot/audiobookshelf/audiobooks

[Service]
Type=simple
WorkingDirectory=/home/ga_bot
ExecStart=/usr/bin/docker compose up
ExecStop=/usr/bin/docker compose down
Restart=always
RestartSec=10
User=ga_bot

[Install]
WantedBy=multi-user.target
